<table>
  <tr>
<% list.each do |category_property| %>
    <td><%= category_property.property.name %></td>
<% end %>
  </tr>
</table>

<br />

<%= link_to '编辑属性', edit_asset_category_path(params[:asset_category_id]) %>
