// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pt40{padding-top:40px;}
.mt40{padding-top:40px;}
#platform{margin:0px 0 0 40px;
  table{background:#eee;}
  td{padding:4px;}
}
textarea{height:100px;}
.t_auto{width:auto!important;
  th{white-space:nowrap;}
}
