<h1>资产列表</h1>
<div>资产类别：
	<form method="get">
		<%= select_tag :asset_category_id,options_from_collection_for_select(@asset_categories,:id,:name,params[:asset_category_id]),:onchange => "this.form.submit()" %>
	</form>
	</div>
    <div id="container">
    <%= render :partial => 'list' %>
  </div>
<br />

<%= link_to '新建资产', new_c_asset_path %>
<script>
  $(function(){ 
      $(".pagination a").attr("data-remote",true)
  })
</script>
